<div class="row">
  <div class="col-md-4 pull-left">
    <p>image placeholder</p> 
  </div>
  <div class="col-md-4 pull-right">
    <h1>current_user.name</h1>
    <h2>current_user.email</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3>All lists</h2>
  </div>
</div>
