<div class="row">
  <div class="col-md-8">
    <h2>Email: <%= @user.email %></h2>
    <%= render partial: 'items/form', locals: { user: @user, item: @item } %>
    <h3>To-do list</h3>
    <%= render partial: 'items/item', locals: { user: @user, item: @items} %>
  </div>
</div>
